# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# TypeScript build info files
*.tsbuildinfo

# Files
.yarn
node_modules
dist
.env

# Editor directories and files
!.vscode/extensions.json
.vscode/
.idea
.DS_Store
*.sw?

# Local Netlify folder
.netlify
